<style>
  .filter-option {
    cursor: pointer;
    /* text-decoration: underline; */
  }
  .filter-option:hover {
    text-decoration: underline;
  }
</style>

<div class="filter">
  <strong>Filter by:</strong>
  <span class="filter-option" data-tag="all"><strong>All</strong></span> /
  <span class="filter-option" data-tag="grant">Grant (as PI)</span> /
  <span class="filter-option" data-tag="scholarship">Scholarship</span> /
  <span class="filter-option" data-tag="government">Government</span> /
  <span class="filter-option" data-tag="international">International</span> /
  <span class="filter-option" data-tag="aisen">Aisen</span> /
  <span class="filter-option" data-tag="devote">De.Vote</span>
  <!-- Add more options as needed -->
</div>

<div class="news">
  {% if site.data.awards != blank %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% assign all_awards = '' | split: '' %}
        {% for file in site.data.awards %}
          {% assign awards = file[1] %}
          {% assign all_awards = all_awards | concat: awards %}
        {% endfor %}
        {% assign sorted_awards = all_awards | sort: 'date' | reverse %}
        {% for award in sorted_awards %}
          <tr class="award" data-tags="{{ award.tags }}">
            <td>
              <abbr class="badge"style="background-color:{{site.data.mappings[award.type].color}}">{{ award.type }}</abbr>
              <strong>{{ award.icon | default: "🏅" }} {{ award.name }}</strong>&nbsp;
              <em>{{ award.organization }}</em><br>
              {{ award.description | markdownify | remove: "<p>" | remove: "</p>"}} 
              {{ award.note | markdownify | remove: "<p>" | remove: "</p>"}}<br>
              <strong>{{ award.date | date: "%b %Y" }}</strong>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td>
        {{"(for other awards, please refer to **Recognition** in each [project](/projects))" | markdownify}}
        </td>
      </tr>
      </table>
    </div>
  {% else %}
    <p>No awards so far...</p>
  {% endif %}
</div>

<script>
  document.querySelectorAll('.filter-option').forEach(function(option) {
    option.addEventListener('click', function() {
      // Update bold style for the selected option
      document.querySelectorAll('.filter-option').forEach(function(opt) {
        opt.innerHTML = opt.getAttribute('data-tag') === this.getAttribute('data-tag') ? '<strong>' + opt.textContent + '</strong>' : opt.textContent;
      }, this);

      var selectedTag = this.getAttribute('data-tag');
      updateAwardVisibility(selectedTag);
    });
  });

  function updateAwardVisibility(tag) {
    var awards = document.querySelectorAll('.award');
    awards.forEach(function(award) {
      var awardTags = award.getAttribute('data-tags') ? award.getAttribute('data-tags').split(', ') : [];
      if (tag === 'all' || awardTags.includes(tag)) {
        award.style.display = '';
      } else {
        award.style.display = 'none';
      }
    });
  }

  // Set initial filter to 'scholarship' on page load
  updateAwardVisibility('all');
</script>